<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>
<body>
    CHANGE PASSWORD
    <form th:action="checkPassword" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>[[${message}]]</div>
        <div>Password : <input type="password" name="password" placeholder="Enter password"/></div>
        <div>Confirm password : <input type="password" name="password2" placeholder="Enter password"/></div>
        <div><input type="submit" name="text" value="Change password"/></div>
    </form>
</body>
</html>