<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head th:replace="parts/common::head"/>

<body>
    <div th:replace="parts/common::body"></div>
    <div class="container mt-1 ml-1">
        <div th:if="${state=='login'}">
            <label class="col-form-label">LOGIN</label>
            <!--"loginForm(action, showUsername, showConfirm, message, buttonText)"-->
            <div th:replace="parts/login::loginForm(@{'/user/login'}, true, false, null, 'Sign In')"></div>
        </div>
        <div th:if="${state=='changePassword'}">
            <label class="col-form-label">CHANGE PASSWORD</label>
            <!-- parts/login::login(action, showUsername, showConfirm, message, buttonText) -->
            <div th:replace="parts/login::loginForm('/user/changePassword', false, true, ${message}, 'Change password')"></div>
        </div>
    </div>
</body>
</html>