<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>
<body>
    REGISTRATION
    <a href="/">Home</a>
    <a href="/user">users</a>
    <div>ADD USER</div>
    <form th:action="addUser" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>Username : <input type="text" name="username" placeholder="Enter user name"/></div>
        <div>Password : <input type="password" name="password" placeholder="Enter password"/></div>
        <div>Role : <input type="text" name="role" placeholder="Enter role"/></div>
        <div>[[${userMessage}]]</div>
        <div><input type="submit" name="text" value="Registration"/></div>
    </form>
    <div>ADD ROLE</div>
    <form th:action="addRole" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>Role : <input type="text" name="role" placeholder="Enter user role"/></div>
        <div>[[${roleMessage}]]</div>
        <div><input type="submit" name="text" value="Add role"/></div>
    </form>
    <div>ADD USER's ROLE</div>
    <form th:action="addUserRole" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>Username : <input type="text" name="username" placeholder="Enter user name"/></div>
        <div>Role : <input type="text" name="role" placeholder="Enter user role"/></div>
        <div>[[${userRoleMessage}]]</div>
        <div><input type="submit" name="text" value="Add role"/></div>
    </form>
    <div>[[${message}]]</div>
</body>
</html>